<!DOCTYPE html>
<html>

    <body>
        <h1 id="election_title"><%= @election_title %></h1>
        <h1 id="election start"><%= @election_start %></h1>
        <h1 id="election end"><%= @election_end %></h1>
    <body>

    <div>
        <%= sanitize @questions %>
    </div>

</html>